.multiQuestion {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .answer {
    max-height: 410px;
    overflow-y: overlay;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
  }
}
