.multiQuestion {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .answer {
    display: flex;
    justify-content: center;
    gap: 20px;
    .item {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
