.feedback {
  display: flex;
  gap: 40px;
  .desc {
    text-align: center;
    font-size: 16px;
    margin-top: 60px;
    width: 45%;
    img {
      display: block;
      width: 55%;
      margin: 0px auto 20px;
    }
  }
  .box {
    max-width: 600px;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    span {
      font-size: 24px;
      font-weight: 600;
      display: block;
      margin-bottom: 20px;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    input,
    textarea {
      background: #ececec;
      border-radius: 20px;
      padding: 13px 30px;
      position: relative;
      outline: none;
      border: none;
    }
    textarea {
      resize: none;
    }
  }
  .btn {
    text-align: center;
    margin-top: 20px;
    button {
      width: 100%;
      color: #fff;
      border: none;
      border-radius: 12px;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.2s linear;
      font-weight: 600;
      &:hover {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
  @media (max-width: 767px) {
    .desc {
      display: none;
    }
  }
}
