.react {
  text-align: center;
  p {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .answer {
    display: flex;
    gap: 30px;
    justify-content: center;
    button {
      cursor: pointer;
      border: none;
      font-size: 14px;
      border-radius: 8px;
      text-align: center;
      padding: 10px;
      max-width: 120px;
      min-width: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: none;
      transition: all 0.2s linear;
      &:hover {
        background: #f0f0f0;
      }
      img {
        display: block;
        width: 50px;
        height: auto;
        margin: 0 auto 10px;
      }
      span {
        display: block;
      }
    }
  }

  @media (max-width: 912px) {
    p {
      margin-bottom: 30px;
    }
    .answer {
      flex-wrap: wrap;
      gap: 20px;
      button {
        padding: 15px 10px;
        max-width: 180px;
        min-width: 180px;
      }
    }
  }
  @media (max-width: 767px) {
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .answer {
      gap: 15px;
      button {
        padding: 10px;
        max-width: 100px;
        min-width: 100px;
      }
    }
  }
  @media (max-width: 320px) {
    p {
      margin-bottom: 10px;
    }
    .answer {
      gap: 10px;
    }
  }
}
