.survey {
    position: relative;
    .main {
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .error {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        color: red;
        font-style: italic;
        font-size: 16px;
    }
    .logo {
        width: 80%;
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 30px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .pagination {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: flex-end;
    }
    .sendBtn {
        text-align: center;
        margin-top: 50px;
        button {
            cursor: pointer;
            border: none;
            padding: 10px 30px;
            font-size: 16px;
            border-radius: 25px;
            color: #fff;
        }
    }
    @media (max-width: 320px) {
        .logo {
            margin-bottom: 20px;
        }
    }
}