.survey {
    position: relative;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .error {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        color: red;
        font-style: italic;
        font-size: 16px;
    }
    .logo {
        width: 80%;
        max-width: 200px;
        margin: 0 auto;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .pagination {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: flex-end;
    }
    @media (max-width: 767px) {
        height: 60vh;
        .pagination {
            height: auto;
        }
    }
    @media (max-width: 320px) {
        height: unset;
        .logo {
            margin-bottom: 20px;
        }
        .pagination {
            margin-top: 20px;
        }
    }
}