.checkboxAnswer {
  width: 48%;
  .inputGroup {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    label {
      cursor: pointer;
    }
  }
  .reason {
    margin-top: 5px;
    textarea {
      display: block;
      width: 100%;
      resize: vertical;
      outline: none;
      background: #dddddd;
      border: none;
      border-radius: 4px;
      padding: 5px 10px;
    }
  }
}
