.main {
  width: 100%;
  background: #f7f7f7;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  .layout {
    margin: 15vh 0;
  }
  .wrapper {
    padding: 40px 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 767px) {
    display: block;
    .layout {
      margin: 0;
      padding: 40px 15px 0;
    }
    .wrapper {
      padding: 20px 15px;
    }
  }
}
