.numberQuestion {
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
  p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }
  .numberAnswer {
    display: flex;
    gap: 20px;
    justify-content: center;
    button {
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: #ccc;
      padding: 0;
      cursor: pointer;
      border-radius: 4px;
      font-size: 16px;
      transition: all 0.2s linear;
      // &:hover {
      //   background: rgb(14, 165, 237);
      //   color: #fff;
      // }
    }
  }
}
