.pageNotFound {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    max-width: 400px;
    width: 60%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
