.starAnswer {
  display: flex;
  align-items: center;
  gap: 10px;
  .title {
    width: 10%;
  }
  .answer {
    display: flex;
    gap: 5px;
    button {
      background: none;
      border: none;
      padding: 0;
      font-size: 24px;
      transition: all 0.2s linear;
      cursor: pointer;
    }
    .on {
      color: orange;
    }
    .off {
      color: #ccc;
    }
  }
  @media (max-width: 320px) {
    .title {
      min-width: unset;
      width: 90%;
      max-width: 80px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
